@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$site-width: 1200px;
$hero-width: 1600px;
$profile-image-width: 300px;

$gutter: 8px;
$gray: #333;
$primary: #1977f3;
$primary-light: #eef5fe;

$small-breakpoint: 500px;
$medium-breakpoint: 960px;

* {
  position: relative;
}
.app {
  min-height: 100vh;
  padding-bottom: 2.5rem;
  * {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color: $gray;
    max-width: 100vw;

    a {
      text-decoration: none;
    }
  }

  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $primary-light;

    .title {
      line-height: 0.5rem;
    }
    h1 {
      font-weight: 400;
    }
    p {
      font-style: italic;
    }

    .navigation-links {
      display: flex;
      align-items: center;
      a,
      button {
        margin: 0.5rem;
      }
      .about-button {
        padding: 0.5rem 1rem;
        color: $primary-light;
        background: $primary;
        border: none;
        border-radius: 5px;
        &:hover {
          cursor: pointer;
          background: $gray;
        }
      }
    }
  }

  // Hero Section
  .hero-container {
    display: flex;
    justify-content: center;
    .hero-img {
      max-width: 90vw;
    }
  }

  // About Section
  .about-container {
    max-width: 70vw;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2.5rem;

    .img-container {
      display: flex;
      justify-self: right;
      img {
        max-width: $profile-image-width;
        max-height: $profile-image-width;
        border-radius: 50%;
      }
    }
    .about,
    h1,
    p {
      color: black;
    }
  }

  //Footer
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2.5rem;
    background: $primary;
    position: absolute;
    bottom: 0;
    width: 100%;
    * {
      color: white;
      font-size: 0.8rem;
    }
    .terms {
      display: flex;
      align-items: center;
      p {
        padding: 0 0.3rem;
      }
    }
  }

  //Responsive
  @media screen and (max-width: 1024px) {
    min-height: 100vh;
    .about-container {
      max-width: 90vw;
    }
  }

  @media screen and (max-width: 700px) {
    min-height: 100vh;
    .about-container {
      max-width: 90vw;
      display: flex;
      flex-direction: column;
      .profile-img {
        width: 9rem;
        height: 9rem;
      }
    }
  }

  @media screen and (max-width: 450px) {
    .hero-container {
      min-height: 25vh;
    }
    .nav-bar {
      .navigation-links {
        display: none;
      }
    }
  }
}
